
@keyframes sph {

    to{
        scale:1;
    }

    from{
        scale:1.5;
    }
}

@keyframes movein{
    0%{
    transform: translateX(500px);
    opacity: 0;
    }

    100%{
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes moveout{
100%{
    transform: translatey(0);
}
0%{
    transform: translatex(500px);
}
}